// Spinner ---------------------

.bgLoader {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: $bg-white;
    animation: bgFade 3s both;
    z-index: 2;
}
.loader {
    display: flex;
    justify-content: center;
    margin-top: 200px;

}
.loader::before {
    content: ""; 
    width: 50px;
    height: 50px;
    border: 10px solid #9356DC;
    border-top-color: #FF79DA;
    border-bottom-color: #FF79DA;
    border-radius: 50%;
    animation: loading 1s linear infinite;

}
@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes bgFade {
    0% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
        
    }
}


// Boutons "Explorer nos restaurants" ---------------------

.reservation__btn {
    @include button;

    &:hover {
        @include buttonHover;
    }
}

// Boutons divers du fonctionnement ---------------------

.selection__btn {
    width: 90%;
    background: $bg_container;
    border-radius: 20px;
    padding: 28px 0;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &:hover {
        cursor: pointer;
    }
} 

// Bouton "commander" du menu ---------------------

.menu__btn {
    @include button;
    
    align-self: center;
    
    &:hover {
        @include buttonHover;
    }
}


// Coeur fade ---------------------

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// menu check bar ---------------------

@keyframes greenBox {
    from {
        transform: translateX(150px);

    }
    to{
        transform: translateX(0px);
        visibility: visible;
    }
}
@keyframes moveOver {
    from {
        transform: translateX(150px);
    }
    to{
        transform: translateX(70px);
    }
}

// page fade in ---------------------

@keyframes fadeInPage {
    0% {
        opacity: 0;
        margin-left: 35px;
    }
    25% {
        opacity: 0.2;
        margin-left: 30px;
    }
    50% {
        opacity: 0.4;
        margin-left: 25px;
    }
    75% {
        opacity: 0.8;
        margin-left: 20px;
    }
    100% {
        opacity: 1;
        margin-left: 15px;
    }
}
