* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.reservation__btn {
  color: #FFF;
  background: #9356DC;
  margin-top: 30px;
  padding: 15px 25px;
  border-radius: 30px;
  border: none;
  -webkit-transition: background-color 3s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: background-color 3s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out, background-color 3s ease-in-out;
  transition: transform 1s ease-in-out, background-color 3s ease-in-out, -webkit-transform 1s ease-in-out;
}

.reservation__btn:hover {
  cursor: pointer;
  opacity: 0.8;
  -webkit-box-shadow: 5px 5px 20px #9356DC;
          box-shadow: 5px 5px 20px #9356DC;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: #312f2f;
}

.selection__btn {
  width: 90%;
  background: #f6f1f1;
  border-radius: 20px;
  padding: 28px 0;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selection__btn:hover {
  cursor: pointer;
}

.menu__btn {
  width: 50%;
  color: #FFF;
  background: #FF79DA;
  margin: 30px 5px;
  padding: 20px 30px;
  border-radius: 30px;
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu__btn:hover {
  opacity: 0.8;
  -webkit-box-shadow: 5px 5px 20px #FF79DA;
          box-shadow: 5px 5px 20px #FF79DA;
  cursor: pointer;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes greenBox {
  from {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes greenBox {
  from {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes fadeInPage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInPage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__logo {
  padding: 1.2rem;
}

.top__logo img {
  height: 1.8rem;
}

.top__arrow--back {
  position: absolute;
  left: 20px;
  color: black;
}

.top__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2rem;
}

.top__search:hover {
  background-color: #f6f1f1;
}

.top__icon {
  margin-right: 1rem;
}

.reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #f6f1f1;
  padding: 2rem;
}

.selection {
  margin: 50px 0;
}

.selection__number {
  background-color: #9356DC;
  color: white;
  position: absolute;
  left: 0.5rem;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 10px;
  text-align: center;
}

.selection p {
  font-weight: bold;
}

.restaurants {
  background-color: #f6f1f1;
  padding-top: 4rem;
}

.gallery {
  padding: 0.8rem;
}

.gallery__card {
  position: relative;
  margin-bottom: 1.4rem;
}

.gallery a {
  text-decoration: none;
}

.gallery img {
  width: 100%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.2rem 1.2rem 0 0;
}

.gallery__new {
  background-color: #99E2D0;
  color: green;
  padding: 5px;
  border-radius: 2px;
  position: absolute;
  top: 5%;
  right: 5%;
}

.gallery__details {
  background-color: #fff;
  color: black;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 0 20px 20px;
}

.gallery__details .plain {
  position: absolute;
  font-size: 2rem;
  z-index: 1;
}

.gallery__details .plain:hover + .color {
  -webkit-animation: fadeIn 1s ease-in-out forwards;
          animation: fadeIn 1s ease-in-out forwards;
  visibility: visible;
}

.gallery__details .color {
  color: #9356DC;
  font-size: 2rem;
  z-index: 0;
  visibility: hidden;
}

.image img {
  width: 100%;
  position: relative;
  z-index: 1;
}

.menu {
  background-color: #f6f1f1;
  border-radius: 30px 30px 0 0;
  padding: 15px 10px;
  position: relative;
  top: -60px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fadeInPage 2s ease-in-out;
          animation: fadeInPage 2s ease-in-out;
}

.menu__intro .plain {
  font-size: 2rem;
  position: absolute;
  right: 5%;
  z-index: 1;
}

.menu__intro .plain:hover + .color {
  -webkit-animation: fadeIn 1s ease-in-out forwards;
          animation: fadeIn 1s ease-in-out forwards;
  visibility: visible;
}

.menu__intro .color {
  visibility: hidden;
  font-size: 2rem;
  color: #9356DC;
  position: absolute;
  right: 5%;
  z-index: 0;
}

.menu__items--line {
  border: 2px solid #99E2D0;
  width: 4rem;
  margin: 5px 0;
}

.menu__items--card {
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 1rem;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__items--card:hover > .menu__items--checkbox {
  visibility: visible;
  -webkit-animation: greenBox 2s ease-in-out forwards;
          animation: greenBox 2s ease-in-out forwards;
}

.menu__items--card .text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 1.4;
  -webkit-animation: fadeInPage 3s ease-in-out;
          animation: fadeInPage 3s ease-in-out;
}

.menu__items--card .price {
  font-weight: bold;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation: fadeInPage 4s ease-in-out;
          animation: fadeInPage 4s ease-in-out;
}

.menu__items--checkbox {
  background-color: #99E2D0;
  width: 25%;
  height: 4rem;
  border-radius: 0 15px 15px 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__items--checkbox .fas {
  background-color: white;
  color: #99E2D0;
  border-radius: 30px;
  padding: 4px;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
}

h1 {
  font-family: 'Shrikhand', Arial, sans-serif;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

.footer {
  padding: 30px 20px;
  background-color: #312f2f;
  color: white;
  line-height: 1.5;
}

.footer__logo {
  margin-bottom: 5%;
}

.footer__logo img {
  width: 30%;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item .fas {
  margin-right: 10px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a a:hover {
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */