@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes bgFade {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}

@keyframes bgFade {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes greenBox {
  from {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
  to {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

@keyframes greenBox {
  from {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
  to {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

@-webkit-keyframes fadeInPage {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInPage {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.plain, .color {
  font-size: 1.8rem;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
}

h1 {
  font-family: 'Shrikhand', Arial, sans-serif;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

.reservation__btn {
  color: #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#c9abee), to(#782cd3));
  background: linear-gradient(#c9abee, #782cd3);
  margin-top: 30px;
  padding: 15px 25px;
  border-radius: 30px;
  border: none;
  -webkit-transition: background-color 3s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: background-color 3s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out, background-color 3s ease-in-out;
  transition: transform 1s ease-in-out, background-color 3s ease-in-out, -webkit-transform 1s ease-in-out;
}

.reservation__btn:hover {
  cursor: pointer;
  opacity: 0.8;
  -webkit-box-shadow: 5px 5px 20px #9356DC;
          box-shadow: 5px 5px 20px #9356DC;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: #ae80e5;
}

.selection__btn {
  width: 90%;
  background: #f4f4f4;
  border-radius: 20px;
  padding: 28px 0;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selection__btn:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .selection__btn {
    width: 50%;
  }
}

.menu__btn {
  color: #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#c9abee), to(#782cd3));
  background: linear-gradient(#c9abee, #782cd3);
  margin-top: 30px;
  padding: 15px 25px;
  border-radius: 30px;
  border: none;
  -webkit-transition: background-color 3s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: background-color 3s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out, background-color 3s ease-in-out;
  transition: transform 1s ease-in-out, background-color 3s ease-in-out, -webkit-transform 1s ease-in-out;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50%;
}

.menu__btn:hover {
  cursor: pointer;
  opacity: 0.8;
  -webkit-box-shadow: 5px 5px 20px #9356DC;
          box-shadow: 5px 5px 20px #9356DC;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: #ae80e5;
}

@media (min-width: 768px) {
  .menu__btn {
    width: 10%;
  }
}

.footer {
  padding: 20px 20px;
  background-color: #353535;
  color: white;
  line-height: 1.5;
}

.footer__logo {
  margin-bottom: 5%;
}

.footer__logo img {
  height: 25px;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item .fa-utensils {
  margin-right: 15px;
}

.footer__item .fa-hands-helping {
  margin-right: 10px;
}

.footer a {
  color: white;
}

.bgLoader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #353535;
  -webkit-animation: bgFade 3s both;
          animation: bgFade 3s both;
  z-index: 2;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 200px;
}

.loader::before {
  content: "";
  width: 50px;
  height: 50px;
  border: 10px solid #9356DC;
  border-top-color: #FF79DA;
  border-bottom-color: #FF79DA;
  border-radius: 50%;
  -webkit-animation: loading 1s linear infinite;
          animation: loading 1s linear infinite;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__logo {
  padding: 20px;
}

.top__logo img {
  height: 35px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.search:hover {
  background-color: #e7e7e7;
  border-top: 1px solid #dbdbdb;
}

.search__icon {
  margin-right: 10px;
}

.reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #f4f4f4;
  padding: 30px;
}

@media (min-width: 768px) {
  .reservation {
    width: 50%;
    margin: 0 auto;
    border-radius: 30px;
  }
}

.reservation h2 {
  margin-bottom: 10px;
}

.selection {
  margin: 50px 15px;
}

@media (min-width: 768px) {
  .selection {
    width: 50%;
    margin: 0 auto;
    border-radius: 30px;
    text-align: center;
    padding-top: 50px;
  }
}

.selection__btn {
  position: relative;
}

.selection__btn:hover {
  background-color: #f5edff;
}

.selection__btn:hover .fas {
  color: #9356DC;
}

.selection__btn--number {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 8px;
  text-align: center;
  position: absolute;
  left: -15px;
}

.selection__btn p {
  font-weight: bold;
}

.restaurants {
  background-color: #f4f4f4;
  padding: 40px 10px;
}

.gallery {
  padding: 0.8rem;
}

@media (min-width: 768px) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.gallery__card {
  position: relative;
  margin-bottom: 1.4rem;
}

@media (min-width: 768px) {
  .gallery__card {
    width: 40%;
  }
}

.gallery__card img {
  width: 100%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.2rem 1.2rem 0 0;
  display: block;
}

.gallery__card--new {
  background-color: #99E2D0;
  color: green;
  padding: 5px;
  border-radius: 2px;
  position: absolute;
  top: 5%;
  right: 5%;
}

.gallery__card--details {
  background-color: #fff;
  color: black;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 0 20px 20px;
}

.gallery__card--details .plain-heart {
  position: absolute;
  font-size: 2rem;
}

.gallery__card--details .plain-heart:hover {
  visibility: hidden;
}

.gallery__card--details .plain-heart:hover:hover + .color-heart {
  -webkit-animation: fadeIn 1s ease-in-out both;
          animation: fadeIn 1s ease-in-out both;
  visibility: visible;
}

.gallery__card--details .color-heart {
  background: -webkit-linear-gradient(#6023a9, #e4d5f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  visibility: hidden;
  font-size: 2rem;
}

.top__arrow {
  position: absolute;
  left: 20px;
  color: black;
}

.image img {
  width: 100%;
  max-height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 0;
}

.menu {
  background-color: #f4f4f4;
  border-radius: 30px 30px 0 0;
  padding: 45px 15px;
  position: relative;
  top: -60px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (min-width: 768px) {
  .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 100px;
  }
}

.menu .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .menu .intro h1 {
    position: absolute;
    top: 5%;
    left: 40%;
  }
}

.menu .intro .plain-heart {
  position: absolute;
  right: 30px;
  font-size: 2rem;
  z-index: 1;
}

@media (min-width: 768px) {
  .menu .intro .plain-heart {
    right: 30px;
    top: 30px;
  }
}

.menu .intro .plain-heart:hover {
  opacity: 0;
}

.menu .intro .plain-heart:hover:hover + .color-heart {
  -webkit-animation: fadeIn 2s ease-in-out forwards;
          animation: fadeIn 2s ease-in-out forwards;
}

.menu .intro .color-heart {
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  right: 30px;
  font-size: 2rem;
  opacity: 0;
}

@media (min-width: 768px) {
  .menu .intro .color-heart {
    right: 30px;
    top: 30px;
  }
}

.menu .list .starters .text {
  -webkit-animation: fadeInPage 4s ease-in-out both;
          animation: fadeInPage 4s ease-in-out both;
}

.menu .list .meals .text {
  -webkit-animation: fadeInPage 3s ease-in-out both;
          animation: fadeInPage 3s ease-in-out both;
}

.menu .list .desserts .text {
  -webkit-animation: fadeInPage 1s ease-in-out both;
          animation: fadeInPage 1s ease-in-out both;
}

.menu .list h2 {
  font-size: 1rem;
  text-transform: uppercase;
}

.menu .list .line {
  border: 2px solid #99E2D0;
  width: 60px;
  margin: 5px 0 10px 0;
}

.menu .list .card {
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 10px 5px 5px #dbdbdb;
          box-shadow: 10px 5px 5px #dbdbdb;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

@media (min-width: 768px) {
  .menu .list .card {
    width: 400px;
  }
}

.menu .list .card:hover .price {
  -webkit-transform: translate(-50px);
          transform: translate(-50px);
  -webkit-transition: -webkit-transform 0.8s ease-in-out 0.3s;
  transition: -webkit-transform 0.8s ease-in-out 0.3s;
  transition: transform 0.8s ease-in-out 0.3s;
  transition: transform 0.8s ease-in-out 0.3s, -webkit-transform 0.8s ease-in-out 0.3s;
}

.menu .list .card:hover > .checkbox {
  -webkit-animation: greenBox 1s ease-in-out forwards;
          animation: greenBox 1s ease-in-out forwards;
}

.menu .list .card:hover > .checkbox .fas {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 0.5s ease-in-out 0.5s;
  transition: -webkit-transform 0.5s ease-in-out 0.5s;
  transition: transform 0.5s ease-in-out 0.5s;
  transition: transform 0.5s ease-in-out 0.5s, -webkit-transform 0.5s ease-in-out 0.5s;
}

.menu .list .card:hover .text {
  width: 75%;
}

.menu .list .card .sub-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .list .card .text {
  line-height: 1.4;
  padding: 10px;
  width: 80%;
  -webkit-transition: width 0.7s ease-in-out;
  transition: width 0.7s ease-in-out;
}

.menu .list .card .text h3, .menu .list .card .text p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu .list .card .price {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 15px 10px 0;
}

.menu .list .card .checkbox {
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  margin: -50px;
}

.menu .list .card .checkbox .fas {
  background-color: white;
  color: #99E2D0;
  border-radius: 30px;
  padding: 4px;
}
/*# sourceMappingURL=styles.css.map */