@import 'config';
@import 'components';
@import 'home';
@import 'menu';
@import 'responsive';

body {
    font-family: 'Roboto', Arial, sans-serif;
}

h1 {
    font-family: 'Shrikhand', Arial, sans-serif;
    font-size: 1.8rem;
}
h2 {
    font-size: 1.5rem;
}


//-------------------------- FOOTER  -------------------------------

.footer {
    padding: 30px 20px;
    background-color: $bg-footer;
    color: white;
    line-height: 1.5;
    
    &__logo {
        margin-bottom: 5%;
    }
//-------------------------- FOOTER logo white -------------------------------

    &__logo img {
        height: 25px;
        filter: brightness(0) invert(1);
    }

    &__item {
        display: flex;
        align-items: center;
        
        & .fa-utensils {
            margin-right: 15px;
        }
        & .fa-hands-helping {
            margin-right: 10px;
        }
    }
    & a {
        color: white;
        text-decoration: none;
        & a:hover {
            cursor: pointer;
        }
    }
   
}
