// Spinner *************
@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes bgFade {
    from {
        visibility: visible;
    }
    to {
        visibility: hidden;
        
    }
}


// Coeur qui se remplit *************

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// checkbox ---------------------

@keyframes greenBox {
    from {
        transform: translateX(150px);
    }
    to{
        transform: translateX(0px);
        visibility: visible;
    }
}


// page fade in ---------------------

@keyframes fadeInPage {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}