// ************************** FLECHE RETOUR + LOGO  *******************************  
.top {

    &__arrow {
        position: absolute;
        left: 20px;
        color:$bg-black;
    }
}

// ************************** IMAGE DU MENU  *******************************
.image img {
    width: 100%;
    max-height: 320px;
    object-fit: cover;
    position: relative;
    z-index: 0;
}

// ************************** MENUS  *******************************

.menu {
    background-color: $bg_container;
    border-radius: 30px 30px 0 0;
    padding: 45px 15px;
    position: relative;
    top: -60px;
    z-index: 1;
    
    display: flex;
    flex-direction: column;
    align-content: center;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
    }

    .intro {
        @include flex_center;
        justify-content: space-between;
        padding-bottom: 40px;
    
        & .plain-heart {
            position: absolute;
            right: 30px;
            font-size: 2rem;

            @media (min-width: 768px) {
                left: 10%;
                top: 20%;
                font-size: 2rem;
            }
            &:active {
                visibility: hidden;

                &:active + .color-heart {
                    animation: fadeIn 1s ease-in-out both;
                    visibility: visible;
                }
            }  
        }
        & .color-heart {
            color: $primary-color;
            visibility: hidden;
            position: absolute;
            right: 30px;
            font-size: 2rem;

            @media (min-width: 768px) {
                left: 10%;
                top: 20%;
                font-size: 2rem;
            }
        }
    }

    .list {

        & .starters {
            .text {
<<<<<<< HEAD:scss/4-pages/_menu.scss
               animation: fadeInPage 5s linear both;
=======
                animation: fadeInPage 3s linear both;
>>>>>>> b357580b353cf94e355b74405371616b81f4c482:scss/_menu.scss
            }
        }
        & .meals {
            .text {
<<<<<<< HEAD:scss/4-pages/_menu.scss
                animation: fadeInPage 3s linear both;
=======
                animation: fadeInPage 2s linear both;
>>>>>>> b357580b353cf94e355b74405371616b81f4c482:scss/_menu.scss
            } 
        }
        & .desserts {
            .text {
               animation: fadeInPage 1s linear both;
            }
        }
      
        & h2 {
            font-size: 1rem;
            text-transform: uppercase;
        }
      
        .line {
            border: 2px solid $bg-lightGreen;
            width: 60px;
            margin: 5px 0 10px 0;

            @media (min-width: 768px) {
                display: none;
            }
        }
        .card {
            background-color: $bg-white;
            border-radius: 15px;
            margin-bottom: 15px;
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            position: relative;

            &:hover > .checkbox {
                animation: greenBox 1s ease-in-out forwards;
            }    
            &:hover > .price {
               animation: greenBox 1s ease-in-out forwards;
            }    
            &:hover > .checkbox .fas {
                transform: rotate(360deg);
                transition: transform 0.5s ease-in-out;
            }  
            .text {
                line-height: 1.4;
                white-space: nowrap;
                overflow-wrap: ellipsis;
                padding: 10px;
<<<<<<< HEAD:scss/4-pages/_menu.scss
                flex: 1;
                
            }
            .price {
                font-weight: bold;
                align-self: center;
=======
            }
            .price {
                font-weight: bold;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
    
>>>>>>> b357580b353cf94e355b74405371616b81f4c482:scss/_menu.scss
            }    
            .checkbox {
                background-color: $bg-lightGreen;
                border-radius: 0 15px 15px 0;
<<<<<<< HEAD:scss/4-pages/_menu.scss
=======
                margin-left: 15px;
>>>>>>> b357580b353cf94e355b74405371616b81f4c482:scss/_menu.scss
                display: flex;
                justify-content: center;
                align-items: center;
                visibility: hidden;
               
                .fas {
                    background-color: white;
                    color: $bg-lightGreen;
                    border-radius: 30px;
                    padding: 4px;
                }
            }  
        }   
    }
}
