//-------------------------- FOOTER  -------------------------------

.footer {
    padding: 20px 20px;
    background-color: $bg-footer;
    color: white;
    line-height: 1.5;

    &__logo {
        margin-bottom: 5%;
    }
//-------------------------- FOOTER logo white -------------------------------

    &__logo img {
        height: 25px;
        filter: brightness(0) invert(1);
    }
//************************
    &__item {
        display: flex;
        align-items: center;
        
        & .fa-utensils {
            margin-right: 15px;
        }
        & .fa-hands-helping {
            margin-right: 10px;
        }
    }
    & a {
        color: white;
    }
   
}