* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.plain, .color {
    font-size: 1.8rem;
}
body {
    font-family: 'Roboto', Arial, sans-serif;
}

h1 {
    font-family: 'Shrikhand', Arial, sans-serif;
    font-size: 1.8rem;
}
h2 {
    font-size: 1.5rem;
}