// Boutons "Explorer nos restaurants" ---------------------

.reservation__btn {
    @include button;

    &:hover {
        @include buttonHover;
    }
}

// Boutons divers du fonctionnement ---------------------

.selection__btn {
    width: 90%;
    background: $bg_container;
    border-radius: 20px;
    padding: 28px 0;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &:hover {
        cursor: pointer;
    }

    @media (min-width: 768px) {
        width: 50%;
    }
} 

// Bouton "commander" du menu ---------------------

.menu__btn {
    @include button;
    align-self: center;
    width: 200px;
    
    &:hover {
        @include buttonHover;
    }
    @media (min-width: 1024px) {
        position: absolute;
        bottom: 0;
        left: 40%;
    }
   
}