.reservation__btn {
    color: #FFF;
    background: $color_secondary ;
    margin: 30px 5px;
    padding: 20px 30px;
    cursor: pointer;
    border-radius: 30px;
    border: none;

    &:hover {
        opacity: 0.8;
        box-shadow: 5px 5px 20px $color-secondary;
    }
}



.menu_btn {
    width: 50%;
    color: #FFF;
    background: $color_secondary ;
    margin: 30px 5px;
    padding: 20px 30px;
    border-radius: 30px;
    border: none;
    

    &:hover {
        opacity: 0.8;
        box-shadow: 5px 5px 20px $color-secondary;
        cursor: pointer;
    }
}
