.reservation__btn {
    color: #FFF;
    background: $color_secondary ;
    margin: 30px 5px;
    padding: 20px 30px;
    cursor: pointer;
    border-radius: 30px;
    border: none;

    &:hover {
        color: red;
    }
}

.selection__btn {
    display: flex;
    align-items: center;
    background: lightgray;
    margin: 30px auto;
    padding: 30px 10px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    &__number {
        background-color: $color-primary;
        padding: 5px;
    }
}

.menu_btn {
    color: #FFF;
    background: $color_secondary ;
    margin: 30px 5px;
    padding: 20px 30px;
    cursor: pointer;
    border-radius: 30px;
    border: none;

    &:hover {
        color: red;
    }
}
