@import 'colors';
@import 'buttons';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1rem;
}
h1 {
    font-family: 'Shrikhand', Arial, sans-serif;
    font-size: 1.8rem;
}
h2 {
    font-size: 1.5rem;
}


//------------------- LOGO + CITY SEARCH ---------------------------------

/* %align_center {

}*/

.top {
    display: flex;
    justify-content: center;
    align-items: center;

    &__logo {
        padding: 20px; 
    }
    &__logo img {
        height: 30px;
    }
    &__arrow--back {
        position: absolute;
        left: 20px;
        color: black;
    }

    &__search {
        display: flex;
        justify-content: center;
        padding: 18px;
        &:hover {
            background-color: rgb(209, 197, 186);
        }
    }
    &__icon {
        margin-right: 15px;
    }
}

//------------------------ RESERVATION  --------------------------------

.reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(243, 239, 239);
    padding: 15% 10%;
}

//--------------------------  FONCTIONNEMENT  -------------------------------

.selection {
    margin-top: 50px;
    
    &__btn {
        width: 80%;
        background: rgb(248, 239, 239);
        border-radius: 20px;
        padding: 20px 0;
        margin: 20px auto;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        &:hover {
            cursor: pointer;
        }
    }
    &__number {
        background-color: $color-primary;
        color: white;
        position: absolute;
        left: 8%;

        border-radius: 50%;
        width: 34px;
        height: 34px;
        padding: 10px;

        text-align: center;
    }
    & p {
        font-weight: bold;
    }
}

//------------------------ RESTAURANTS -------------------------
.restaurants {
    background-color: rgb(243, 241, 239);
    padding-top: 70px;
}
.gallery {
    padding: 10px;

    &__card {
        position: relative;
        margin-bottom: 20px;
    }

    & a {
        text-decoration: none;
    }
    
    & img {
       width: 100%;
       height: 200px;
       object-fit: cover;
       border-radius: 18px 18px 0 0;
    }

    &__new {
        background-color: $color-tertiary;
        color: green;
        padding: 5px;
        border-radius: 2px;
        position: absolute;
        top: 5%;
        right: 5%;
    }

    &__details {
        background-color: white;
        color: black;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0 0 20px 20px;
    }
    & .far {
        font-size: 2rem;
        &:hover {
            background-color: $color-secondary ;
        }
    }
  
}

//-------------------------- FOOTER  -------------------------------

.footer {
    padding: 30px 20px;
    background-color: rgb(49, 47, 47);
    color: white;
    line-height: 1.5;

    &__logo {
        margin-bottom: 15px;
    }

    &__logo img {
        height: 20px;
        filter: brightness(0) invert(1);
    }
    &__item {
        display: flex;
        align-items: center;
        
        & .fas {
            margin-right: 10px;
        }
    }
    & a {
        color: white;
        text-decoration: none;
        & a:hover {
            cursor: pointer;
        }
    }
   
}

//-------------------------- menu page 1  -------------------------------

.image img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

.menu {
    background-color: rgb(250, 230, 230);
    border-radius: 30px 30px 0 0;
    padding: 15px 10px;
    position: relative;
    top: -60px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__intro {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
    }
    &__items {
        &--card {
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin: 10px 0;
            border-radius: 15px;
            padding: 3px;
            .text {
                flex-direction: column;
                align-items: flex-start;
                line-height: 1.4;
            }
            .price {
                font-weight: bold;
            }
        }
    }

}